<h1>Welcome to Simplificator Infrastructure</a>
<h2>Error Pages</h2>
<ul>
  <li>Generic in: <a href="/error_previews/preview?code=500&locale=en">en</a> | <a href="/error_previews/preview?code=500&locale=de">de</a> | <a href="/error_previews/preview?code=500&locale=fr">fr</a></li>
  <li>404 in: <a href="/error_previews/preview?code=404&locale=en">en</a> |  <a href="/error_previews/preview?code=404&locale=de">de</a> |  <a href="/error_previews/preview?code=404&locale=fr">fr</a></li>
</ul>
