<h1>Welcome to Simplificator Infrastructure</a>
<h2>Error Pages</h2>
<ul>
  <li><a href="/error_previews/preview?code=500&locale=en">Generic (en)</a></li>
  <li><a href="/error_previews/preview?code=404&locale=en">404 (en)</a></li>
</ul>
